@model App.ViewModels.RaceDetails

@{
    ViewData["Title"] = "Detail de la course";
    Layout = "_MyLayout";
}

<div class="race-detail__title">
  <h1>@Model.ViewRace.Name</h1>
  <p>Date de la course : @Model.ViewRace.EventDate</p>
</div>
<div class="race-detail__headband">
</div>
<div class="race-detail__data custom-row">
  <div class="race-detail__data__1-of-3">
    <img src="" alt="Icone heure">
    <h3>Heure de départ</h3>
    <p>@Model.ViewRace.RaceStart h</p>
  </div>
  <div class="race-detail__data__1-of-3">
    <h3>Nombres de participants</h3>
    <progress id="file" max="@Model.ViewRace.MaxParticipant" value="3"></progress>
  </div>
  <div class="race-detail__data__1-of-3">
    <img src="" alt="Icone map">
    <h3>Latitude / Longitude</h3>
    <p>@Model.ViewRace.RaceLatitude / @Model.ViewRace.RaceLongitude</p>
  </div>
</div>
<div class="race-detail__more-about">
  <h3>Informations supplémentaires</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In dui ligula, mattis at urna a, gravida condimentum orci. Maecenas fringilla massa iaculis venenatis porttitor. Sed feugiat, mi sed accumsan semper, ligula eros facilisis turpis, eu aliquet purus neque nec nisl. Cras a fringilla dui, ac dignissim nibh. Aenean sit amet tincidunt leo. In non purus posuere, vestibulum orci eget, feugiat mauris. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; In hac habitasse platea dictumst. Donec tempor quam nec est gravida vestibulum. Aliquam accumsan, sem vel auctor ullamcorper, lacus leo semper ex, sed posuere quam mauris sed urna. Aliquam vitae turpis vel mauris molestie pulvinar. In vehicula vehicula volutpat. Nunc leo mauris, vestibulum et mollis et, fringilla at metus. Proin vel risus quis nulla egestas tincidunt et et arcu.</p>
</div>

