@model App.ViewModels.RaceListViewModel

@{
    ViewData["Title"] = "Home Page";
    Layout = "_MyLayout";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<br>
<br>
<br>
<br>


<div>
    <h2> Last Races </h2>
    <div class="card-container">
    @foreach (var item in Model.RaceList) {
    <div class="card-container__card">
        <div class="card-container__card__buttons">
            <p>
                @Html.ActionLink("Details", "Details", new { id=item.Id })
            </p>
        </div>
        <p class="card-container__card__card-date">
            @item.EventDate.ToShortDateString()
        </p>
        <h3 class="card-container__card__card-title">
            @Html.DisplayFor(modelItem => item.Name)
        </h3>
        <p class="card-container__card__card-meta">
            Heure de départ : <strong>@Html.DisplayFor(modelItem => item.EventDate)</strong>
        </p>
        <p class="card-container__card__card-meta">
            Latitude et Longitude : <strong>@Html.DisplayFor(modelItem => item.RaceLatitude) / @Html.DisplayFor(modelItem => item.RaceLongitude)</strong>
        </p>
        <p class="card-container__card__card-meta">
            Limite de participant : <strong>@Html.DisplayFor(modelItem => item.MaxParticipant)</strong>
        </p>
        </div>
    }
    </div>
</div>

